# Virtual Environments
venv/
ENV/
.venv/
env/

# Local Databases
instance/*.db
*.sqlite3

# Secret Keys & Environment files
.env
.flaskenv

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE Settings
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log
